{% extends 'base_auth.html' %}
{% block title %}Вход в систему{% endblock %}

{% block auth_content %}
<h1>Вход в личный кабинет</h1>
<p class="muted">Используйте корпоративный email и пароль.</p>
<div class="section card form-card">
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <p>
      <label for="id_username">Email</label>
      {{ form.username }}
    </p>
    <p>
      <label for="id_password">Пароль</label>
      {{ form.password }}
    </p>
    <div class="inline-actions">
      <button class="btn btn-primary" type="submit">Войти</button>
    </div>
  </form>
</div>
<p class="muted" style="margin-top:12px;"><a href="{% url 'accounts:public_support_ticket_create' %}">Не получается войти? Написать в техподдержку</a></p>
{% endblock %}
